{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div style="text-align: center;margin-top:40px;" class="row">
  <h2 style="margin-bottom:40px;"> Рroject technologieS</h2>
  <h3 class="tachskill-tittle"><span style="color:red">Tech</span> Skills</h3>
  <aside style="margin-bottom:40px;" class="col-12 col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3
      </li>
      <li class="list-group-item">
        Django 2
      </li>
      <li class="list-group-item">
        HTML 5
      </li>
      <li class="list-group-item">
        CSS 3
      </li>
      <li class="list-group-item">
        GIT
      </li>
    </ul>
  </aside>
  <h3 class="tachskill-tittle"><span style="color:red">Soft</span> Skills</h3>
  <aside style="margin-bottom:40px;" class="col-12 col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Scrum
      </li>
      <li class="list-group-item">
        Agile
      </li>
      <li class="list-group-item">
        Teamwork
      </li>
    </ul>
  </aside>
  <h3 class="tachskill-tittle"><span style="color:red">Author</span> Skills</h3>
  <aside style="margin-bottom:40px;" class="col-12 col-md-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Humor
      </li>
      <li class="list-group-item">
        Tears
      </li>
      <li class="list-group-item">
        Wine
      </li>
    </ul>
  </aside>
</div>
{% endblock %}
